/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: white;
    color: #333;
    overflow-x: hidden;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: center; /* Centers the navigation */
    align-items: center;
    background-color: #ffffffb1; /* Adjusted background color */
    padding: 20px 40px; /* Adjust padding as needed */
    border-bottom-left-radius: 35px; /* Rounded corners */
    border-bottom-right-radius: 35px;
    margin: auto; /* Center the nav bar horizontally */
    width: 60%; /* Adjust the width to fit in the center */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Slight shadow effect */
}

nav .logo {
    height: 35px;
    margin-left: 30px;
}

/* Nav list */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the items within the navbar */
    width: 100%; /* Full width to evenly space items */
    max-width: 1200px; /* Maximum width for the navbar */
}

nav ul li {
    margin: 0 20px; /* Space between items */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded links to match the style */
    transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Hide hamburger for now */
.hamburger, .cross {
    display: none;
}

/* Change navbar background on scroll */
body.scrolled nav {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly more opaque on scroll */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for effect */
}
@media (max-width: 1024px) {
    nav {
        width: 100%;
        padding: 20px 40px;
        display: flex;
        border-bottom-left-radius: 0px; 
        border-bottom-right-radius: 0px;
        justify-content: space-between;
        align-items: center;
    }
}



/* For small screens (max-width: 760px) */
@media (max-width: 768px) {
    .hamburger, .cross {
        display:contents;
    }

    nav {
        width: 100%;
        padding: 20px 40px;
        display: flex;
        border-bottom-left-radius: 0px; 
        border-bottom-right-radius: 0px;
        justify-content: space-between;
        align-items: center;
    }

    nav .logo {
        height: 30px;
        margin-left: 0px;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        display: none; /* Initially hidden */
        z-index: 100;
    }

    nav ul.show {
        display: flex; /* Show the menu when active */
    }

    nav ul li {
        margin: 20px 0;
    }

    /* Hamburger and Cross Icons */
    .hamburger, .cross {
        font-size: 24px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 101;
    }

    .cross {
        display: none; /* Initially hide the cross */
    }

    /* Toggle visibility of hamburger and cross */
    .hamburger.hidden {
        display: none; /* Hide the hamburger when menu is active */
    }

    .cross.visible {
        display: block; /* Show the cross when menu is active */
    }
}

.project-bg {
    display: flex;
    flex-direction: column; /* Ensures the images wrap to the next line if necessary */
    justify-content: center; /* Center the images horizontally */
    margin-top: -80px;
}

.project-bg div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-bg img {
    width: 100%; /* Default width for images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-bg div:nth-child(2),
.project-bg div:nth-child(7) {
    background-color: #FFFED3;
}

.project-bg-2 div:nth-child(1) {
    background-color: #FFFED3;
}

.project-bg-1 {
    display: flex;
    flex-direction: column; /* Ensures the images wrap to the next line if necessary */
    justify-content: center; /* Center the images horizontally */
}

.project-bg-1 div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-bg-1 img {
    width: 100%; /* Default width for images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-bg-2 {
    display: flex;
    flex-direction: column; /* Ensures the images wrap to the next line if necessary */
    justify-content: center; /* Center the images horizontally */
}

.project-bg-2 div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-bg-2 img {
    width: 100%; /* Default width for images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hidden-image {
    display: none;
}

.image-stack {
    position: relative;
}

.base-image {
    max-width: 100%; /* Base image takes full width of its container */
    height: auto; /* Ensures aspect ratio is maintained */
    position: relative;
    z-index: 1; /* Lower layer */
}

.overlay-image {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the image */
    width: 80% !important; /* 80% of the width */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Higher layer */
}



.video {
    margin: 60px auto; /* Center horizontally and space vertically */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.video img {
    width: 800px; /* Adjust as necessary */
    max-width: 100%; /* Make responsive */
    height: auto; /* Maintain aspect ratio */
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}


.carousel-track {
    display: flex;
}

/* Fullscreen Modal Styles */
.fullscreen-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001; /* Ensure it's above the carousel */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Fullscreen Image */
.fullscreen-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

/* Close Button Styles */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 4;
    transition: transform 0.2s ease;
}

.close-btn:hover {
    transform: scale(1.1); /* Slight scaling on hover */
}

.carousel-img {
    height: 350px; /* Fixed height for images */
    width: 250px; /* Fixed width for images */
    margin: 20px; /* Space between images */
    border-radius: 20px; /* Rounded corners */
    object-fit: cover; /* Cover the container */
    transition: transform 0.5s ease;
    filter: brightness(0.7);
}

/* Image hover effect */
.carousel-img:hover {
    filter: brightness(1);
    transform: scale(1.05);
}

/* Arrow Styles */
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
    left: 10px;
    display: none; /* Initially hide the left arrow */
}

.right-arrow {
    right: 10px;
}

/* 2nd carousel */
/* Carousel */
.carousel-2 {
    position: relative;
    overflow: hidden; /* Hide overflow to show only active slide */
    width: 100%; /* Full width */
    max-width: 600px; /* Optional: Set a max width */
    margin: 0 auto; /* Center the carousel */
}

.carousel-inner-2 {
    display: flex; /* Align slides in a row */
    transition: transform 0.5s ease; /* Smooth transition */
}

.slide {
    min-width: 100%; /* Each slide takes full width */
}

.carousel-2 img {
    width: 100%;
    height: auto;
}

/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(34, 34, 34);
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 3rem;
    border-radius: 12px;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.project-bg div:nth-child(2) img,
.project-bg div:nth-child(4) img,
.project-bg div:nth-child(5) img,
.project-bg div:nth-child(7) img,
.project-bg div:nth-child(8) img {
    width: 80% !important; /* Smaller width for specific images */
}

.project-bg-1 div:nth-child(1) img,
.project-bg-1 div:nth-child(2) img {
    width: 80% !important; /* Smaller width for specific images */
}

.project-bg-2 div:nth-child(1) img,
.project-bg-2 div:nth-child(2) img {
    width: 80% !important; /* Smaller width for specific images */
}


/* Button container styling */
.button-container {
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 50px; /* Adjust this based on the spacing you want */
    margin-bottom: 60px;
}

/* Button styles */
.nav-button {
    padding: 15px 30px;
    background-color: #2980b9; /* Light blue background */
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button-left{
    padding-left: 20px;
    padding-right: 40px;
}
.nav-button-right{
    padding-left: 50px;
}

.nav-button:hover {
    transform: scale(1.1);
}

.nav-button i.fa-arrow-left {
    margin-right: 10px; /* Space between icon and text */
    opacity: 0;
    transform: translateX(0); /* Initially shifted left */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

.nav-button i.fa-arrow-right {
    margin-left: 10px; /* Space between text and icon */
    opacity: 0;
    transform: translateX(0); /* Initially shifted right */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Hover effect for the left arrow */
.nav-button:hover i.fa-arrow-left {
    opacity: 1; /* Make the left arrow visible */
    transform: translateX(-10px); /* Move it slightly more to the left */
}

/* Hover effect for the right arrow */
.nav-button:hover i.fa-arrow-right {
    opacity: 1; /* Make the right arrow visible */
    transform: translateX(10px); /* Move it slightly more to the right */
}


/* Footer Section */
footer {
    text-align: center;
    margin-top: 80px;
    padding: 10px 0; /* Adds padding to create space inside the footer */
    background-color: transparent; /* Adjusted background color */
    /* border-top-left-radius: 50px; 
    border-top-right-radius:50px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    font-size: 1rem; /* Slightly reduced font size */
    width: 100%;
    margin: 0 auto;
    color: #333; /* Darker text color for better contrast */
}

/* Social icons */
footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Reduced gap for smaller icons */
    margin: 20px 0; /* Adjusts space around icons */
    font-size: 1.5rem; /* Icon size */
    color: #333;
}

footer .social-icons a {
    color: #333; /* Set icon color */
    width:45px;
    background-color: rgba(255, 255, 255, 0.497);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; 
    transition: color 0.3s ease; /* Smooth transitions */
    text-decoration: none; /* Remove underline */
}


footer .social-icons a:hover {
    background-color: #0077b5; /* Blue background on hover (LinkedIn example) */
    color: #fff; /* White icon color on hover */
}

/* Footer text */
footer h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    color: #333;
    margin-bottom: 20px;
}

footer p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #666; /* Lighter color for subtext */
}

/* Copyright section */
footer .copyright {
    font-size: 0.8rem;
    color: #888; /* Lighter gray for copyright text */
    margin-top: 10px;
}


/* Scroll Up Button Styles */
.scroll-up-btn {
    position: fixed;
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    display: none; /* Initially hidden */
    background-color: #2980b9; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 50%; /* Circular button */
    width: 50px; /* Button width */
    height: 50px; /* Button height */
    font-size: 24px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
    transition: background-color 0.3s, transform 0.3s; /* Transition effects */
}

.scroll-up-btn:hover {
    background-color: #1e5f89; /* Darker blue on hover */
    transform: scale(1.1); /* Slightly larger on hover */
}

/* Responsive Styles */

@media screen and (max-width: 1280px) {
    nav ul li a {
        font-size: 15px;
    }
}


@media (max-width: 1024px) {

    .project-bg div:nth-child(2) img,
    .project-bg div:nth-child(4) img,
    .project-bg div:nth-child(5) img,
    .project-bg div:nth-child(7) img,
    .project-bg div:nth-child(8) img {
        width: 100% !important; /* Smaller width for specific images */
    }

    .project-bg-1 div:nth-child(1) img,
    .project-bg-1 div:nth-child(2) img {
        width: 100% !important; /* Smaller width for specific images */
    }

    .project-bg-2 div:nth-child(1) img,
    .project-bg-2 div:nth-child(2) img {
        width: 100% !important; /* Smaller width for specific images */
    }

    .image-stack {
        display: none !important;
    }

    .hidden-image {
        display: block !important;
    }

    .project-bg {
        margin-top: 0;
    }

    .video img {
        width: 80%; /* Make video image responsive */
        max-width: 700px; /* Limit max width */
    }

    .carousel-img {
        width: 200px; /* Adjust image width for medium screens */
        height: 300px; /* Maintain aspect ratio */
    }

    .button-container {
        flex-direction: row;
        gap: 50px; /* Adjust gap for small screens */
        padding: 20px;
    }

    .nav-button {
        padding: 10px 20px; /* Smaller button padding */
        width: 220px;
        font-size: 1.1rem;
        text-align: center;
    }

    
    .nav-button i.fa-arrow-left {
        margin-right: 10px; /* Space between icon and text */
        opacity: 1;
    }

    .nav-button i.fa-arrow-right {
        margin-left: 10px; /* Space between icon and text */
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .video {
        margin: 30px auto; /* Adjust margin for smaller screens */
    }

    .video img {
        width: 65%; /* Make video image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .carousel-img {
        width: 200px; /* Further adjust image width for small screens */
    }

    .button-container {
        flex-direction: row; /* Stack buttons vertically */
        gap: 20px; /* Reduced space between buttons */
    }
}

@media (max-width: 480px) {

    .nav-button i.fa-arrow-left {
        margin-right: 5px;
        /* margin-left: 2px;  */
        opacity: 1;
    }

    .nav-button i.fa-arrow-right {
        margin-left: 5px; /* Space between icon and text */
        opacity: 1;
    }

    .video img {
        width: 80%; /* Ensure it takes full width */
        height: auto; /* Maintain aspect ratio */
    }

    .carousel-img {
        width: 70px; /* Further adjust image width */
        height: 100px;
        margin: 5px;
        border-radius: 10px;
    }

    .carousel-2 {
        width:80%;
    }

    .prev , .next {
        font-size: 2rem;
    }

    .button-container {
        flex-direction: row;
        gap: 20px; /* Adjust gap for small screens */
        padding: 20px;
        justify-content: center;
    }

    .nav-button {
        padding: 8px 10px; /* Smaller button padding */
        width: 140px;
        border-radius: 15px;
        font-size: 0.6rem;
        text-align: center;
    }

    .scroll-up-btn {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 412px){
    .nav-button {
        padding: 8px 10px; /* Smaller button padding */
        width: 140px;
        font-size: 0.5rem;
        text-align: center;
    }
}

@media (width: 540px){
    .nav-button {
        padding: 8px 10px; /* Smaller button padding */
        width: 140px;
        font-size: 0.6rem;
        text-align: center;
    }
}



/* Responsive Footer Styles */
@media (max-width: 768px) {
    footer {
        font-size: 1.3rem;
        padding: 15px;
    }

    footer .social-icons {
        font-size: 1.5rem;
        gap: 15px;
    }

    footer h3 {
        font-size: 1rem;
    }
    footer p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    footer {
        font-size: 1rem; /* Smaller font size on mobile */
        padding: 10px; /* Adjust padding */
    }

    footer .social-icons {
        font-size: 1rem; /* Further reduce icon size */
        gap: 10px; /* Further reduce gap */
    }

    footer h3{
        font-size: 0.6rem;
    }

    footer p {
        font-size: 0.6rem; /* Even smaller footer text */
    }
}