/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: white;
    color: #333;
    overflow-x: hidden;
}

/* Base Styles for Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Change navbar background on scroll */
body.scrolled nav {
    background-color: rgba(255, 255, 255, 0.7); /* Slight transparency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow for effect */
    transition: background-color 0.3s ease-in-out;
}

.project-bg img{
    width: 100%; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive Styles using media queries */
@media (max-width: 1024px) {
    /* Adjust padding for the navbar on smaller devices */
    nav {
        padding: 10px 20px;
    }

    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .project-bg img {
        width: 100vw; /* Ensure it still covers the viewport */
        height: auto; /* Allow the image to resize proportionally */
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px 15px;
    }

    nav ul {
        flex-direction: column;
        display: none; /* Hide menu by default on smaller screens */
    }

    .hamburger {
        display: block; /* Show hamburger menu */
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    /* Toggle hamburger menu */
    nav.active ul {
        display: flex;
        flex-direction: column;
    }

    .project-bg img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 480px) {
    /* Further reduce padding for extra small devices */
    nav {
        padding: 5px 10px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .project-bg img {
        width: 100%;
        height: auto;
    }
}